* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
main {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  background-color: #f8f8f8;
}
nav {
  height: 11vh;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
nav i {
  display: none;
}
nav h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  width: 20%;
  height: 100%;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -2px;
  /* background-color: yellowgreen; */
  position: relative;
}
nav h1::after {
  content: "©";
  font-size: 14px;
  position: absolute;
  top: 30%;
  right: 32%;
}
nav h1::before {
  content: "Cat management";
  font-size: 10px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
  position: absolute;
  bottom: 15%;
  font-weight: 200;
}
nav a {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
  width: 27%;
  height: 100%;
  /* background-color: yellowgreen; */
  border-right: 2px solid black;
  transition: all 0.3s linear;
}
nav a::after {
  content: "\2197";
  transition: all 0.5s linear;
  padding: 10px;
  display: none;
}
nav a:hover::after {
  display: initial;
}
nav a:hover {
  background-color: #e5e5e5;
}
nav p {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-weight: 600;
  width: 10%;
  height: 100%;
  /* background-color: yellowgreen; */
}

#center {
  width: 100%;
  height: 90%;
  padding: 2.8vw;
  /* background-color: red; */
  position: relative;
}
#content {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  position: relative;
}

#content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 45%;
  bottom: 0;
  padding: 1.6vw;
  background-color: rgba(0, 0, 0, 0.172);
  backdrop-filter: blur(10px);
}
#overlayoverlay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 1vw;
}
#overlayoverlay h1 {
  font-size: 5vw;
  font-family: sans-serif;
  font-weight: 900;
  letter-spacing: -5px;
  line-height: 5vw;
}
#overlayoverlay h2 {
  font-size: 2vw;
  font-family: serif;
  padding: 1.4vw 2.1vw;
  border-radius: 50%;
  border: 2px solid #fff;
}

#overlayoverlayoverlay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding: 1vw 0;
}
#overlayoverlayoverlay h4,
h3 {
  font-weight: 500;
  font-size: 1.3vw;
  color: #fff;
}
#scroll {
  height: 35vh;
  width: 100%;
  /* background-color: red; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: inline-block;
  padding: 1vw;
  animation-name: scroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#scroll img {
  /* display: none; */
  height: 100%;
  width: 16%;
  border-radius: 50%;
  object-fit: cover;
  margin: 0.2vw;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#alphabet {
  width: 100%;
  height: 10vh;
  margin-top: 3vw;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2vw;
  border-top: solid 2px #000;
  border-bottom: solid 1px #000;
}
#alphabet h5 {
  font-size: 1.6vw;
  font-weight: 100;
  font-style: italic;
  letter-spacing: 3px;
  border-bottom: 2px solid #000;
  cursor: pointer;
}
#alphabet h6 {
  font-size: 0.8vw;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 0.5vw 0.7vw;
  /* background-color: yellow; */
  border: 1px solid #00000000;
  transition: all 0.2s ease;
}
#alphabet h6:hover {
  cursor: pointer;
  border: 1px solid #000;
  background-color: #eeeeee;
}
#page2 {
  height: 110vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 6vh;
  padding: 4vh 5vw;
}

#page2 #middle {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
#page2 #middle #left {
  height: 100%;
  width: 56%;
  /* background-color: aqua; */
}
#page2 #middle #right {
  height: 90%;
  width: 40%;
  /* background-color: green; */
}
#page2 #middle #left #top {
  width: 100%;
  height: 90%;
  /* background-color: blueviolet; */
  background-image: url(./images/7.jfif);
  background-size: 100%;
  object-fit: cover;
  background-position: center;
}
#page2 #middle #left h1 {
  font-size: 4vw;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  margin: 0.5vw 0vw;
}
#page2 #middle #right #top {
  width: 100%;
  height: 74%;
  /* background-color: brown; */
  background-image: url(./images/8.jfif);
  background-size: 100%;
  object-fit: cover;
  background-position: center;
}
#page2 #middle #right #bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 3vh;
}
#page2 #middle #right #bottom #left {
  font-size: 1.9vw;
}
#page3 {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  padding: 4vh 5vw;
}
#page3 #middle {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
#page3 #middle #left {
  height: 100%;
  width: 40%;
  /* background-color: aqua; */
  position: relative;
}
#page3 #middle #left #top {
  width: 100%;
  height: 80%;
  background-image: url(./images/9.jfif);
  object-fit: cover;
  background-position: center;
}

#page3 #middle #left #bottom {
  font-size: 1.29vw;
  font-weight: 500;
  position: absolute;
  bottom: 0;
}
#page3 #middle #right {
  height: 100%;
  width: 56%;
  /* background-color: green; */
  background-image: url(images/10.jfif);
}
#page4 {
  height: 90vh;
  width: 100%;
  /* background-color: red; */
  padding: 4vh 5vw;
}
#page4 #middle {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  background-image: url(./images/11.jpg);
  background-size: 100%;
  object-fit: cover;
  background-position: center;
}
#page5 {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  padding: 4vh 5vw;
}
#page5 > h1 {
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -0.2vw;
  text-align: center;
  margin-bottom: 7vh;
}
.elem {
  height: 16vh;
  width: 100%;
  /* background-color: yellow; */
  border-top: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 2vw;
  position: relative;
}
.elem img {
  position: absolute;
  width: 8vw;
  height: 14vh;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  left: 25%;
}
.elem:nth-last-child(1) {
  border-bottom: 2px solid black;
}
.elem h5 {
  font-size: 1.1vw;
  text-transform: uppercase;
  width: 6%;
  font-weight: 200;
}

.elem .elem-right {
  width: 45%;
}
.elem .elem-right h2 {
  font-size: 2.3vw;
  font-weight: 500;
  line-height: 3.5vw;
}
.elem .elem-right p {
  font-size: 0.8vw;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
}
#exclusive h2 {
  font-size: 2.3vw;
  font-weight: 500;
  line-height: 3vw;
  line-height: 3.5vw;
}
#exclusive p {
  font-size: 0.8vw;
  font-weight: 600;
  text-transform: uppercase;
  font-style: italic;
}

#marque {
  width: 100%;
  padding: 0.8vw;
  /* background-color: brown; */
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: solid 2px #000;
  border-bottom: solid 2px #000;
}
#marque h1 {
  display: inline-block;
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.1vw;
  -webkit-text-stroke: 2px #000;
  color: transparent;
  margin-right: 30px;
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 32px));
  }
}

#page6 {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  padding: 4vh 5vw;
  margin-bottom: 9vh;
}
#page6 #middle {
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
}
#page6 #middle #left {
  height: 100%;
  width: 20%;
  /* background-color: aqua; */
}
#page6 #middle #left h1 {
  font-size: 4vw;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -0.3vw;
  text-transform: uppercase;
}
#page6 #middle #right {
  height: 100%;
  width: 80%;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page6 #middle #right #left {
  width: 48%;
  height: 100%;
  /* background-color: red; */
}
#page6 #middle #right #left #top {
  width: 100%;
  height: 30%;
  /* background-color: blanchedalmond; */
}
#page6 #middle #right #left #top h4 {
  font-size: 2vw;
  font-weight: 200;
}
#page6 #middle #right #left #top h4::first-letter {
  border: solid black 1px;
  padding: 0.5vw 1vw;
  border-radius: 50%;
  margin-right: 1vw;
}
#page6 #middle #right #left #bottom {
  width: 100%;
  height: 70%;
  /* background-color: chartreuse; */
  background-image: url(./images/4.jfif);
  background-size: 100%;
  object-fit: cover;
}
#page6 #middle #right #right {
  width: 48%;
  height: 100%;
  /* background-color: yellow; */
  display: block;
}
#page6 #middle #right #right #top {
  width: 100%;
  height: 30%;
  /* background-color: burlywood; */
}
#page6 #middle #right #right #bottom {
  width: 100%;
  height: 70%;
  /* background-color: purple; */
  background-image: url(./images/8.jfif);
  background-size: 100%;
  object-fit: cover;
}
#page6 #middle #right #right #top h4 {
  font-size: 2vw;
  font-weight: 200;
}
#page6 #middle #right #right #top h4::first-letter {
  border: solid black 1px;
  padding: 0.5vw 1vw;
  border-radius: 50%;
  margin-right: 1vw;
}

footer {
  margin-top: 6vh;
  height: 40%;
  width: 100%;
  /* background-color: blue; */
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: 35% 65%;
  border-top: 2px solid rgb(11, 11, 11);
}
footer h1 {
  text-decoration: none;
  color: black;
  font-size: 4vw;
  font-weight: 900;
  letter-spacing: -0.4vw;
  /* background-color: yellowgreen; */
  grid-row: 1/3;
  border-right: 2px solid rgb(11, 11, 11);
  margin-left: 4vw;
}
footer h5 {
  font-size: 1.4vw;
  font-family: sans-serif;
  font-weight: 200;
}
footer h5:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
  border-right: 2px solid rgb(11, 11, 11);
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}
footer h5:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
  border-right: 2px solid rgb(11, 11, 11);
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}
footer h5:nth-child(4) {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

footer #footer {
  border-top: 2px solid rgb(11, 11, 11);
  /* background-color: red; */
  grid-row: 2/3;
  grid-column: 4/5;
  padding: 1.8vw 1.8vw 4vw 10vw;
}
footer #footer #middle {
  width: 100%;
  height: 100%;
  /* background-color: green; */
}
footer #footer #middle #top {
  width: 100%;
  height: 40%;
  /* background-color: purple; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer #footer #middle #top p {
  font-size: 1.5vw;
  margin-right: 2vw;
  color: #171717;
}
footer #footer #middle #bottom {
  width: 100%;
  height: 60%;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer #footer #middle #bottom h4 {
  font-size: 1vw;
  font-weight: 200;
  color: #171717;
}

@media (max-width: 600px) {
  main {
    padding-top: 20px;
  }
  nav {
    height: 8vh;
    justify-content: space-between;
  }
  nav i {
    display: initial;
    margin-right: 2vw;
    font-weight: 600;
  }
  nav h1 {
    font-size: 1.4rem;
  }
  nav h1::after {
    font-size: 7px;
    top: 28%;
    right: 5%;
  }
  nav h1::before {
    font-size: 5px;
  }
  nav a {
    display: none;
  }
  nav a::after {
    display: none;
  }
  nav a:hover::after {
    display: none;
  }
  nav p {
    display: none;
  }
  #center {
    width: 100%;
    height: 50%;
  }
  #overlay {
    height: 35%;
    padding: 4vw;
  }
  #overlayoverlay {
    margin-bottom: 3.5vw;
  }
  #overlayoverlay h1 {
    font-size: 6.5vw;
    letter-spacing: -1px;
    line-height: 7vw;
  }
  #overlayoverlay h2 {
    font-size: 7vw;
    padding: 1.4vw 3.5vw;
  }

  #overlayoverlayoverlay {
    padding: 2vw 0;
  }
  #overlayoverlayoverlay h4,
  h3 {
    font-size: 2.5vw;
  }
  #scroll {
    height: 10vh;
  }
  #alphabet {
    height: 6vh;
    gap: 0.6vw;
  }
  #alphabet h5 {
    font-size: 3vw;
  }
  #alphabet h6 {
    font-size: 1.5vw;
    padding: 0.5vw 0.6vw;
  }
  #page2 {
    height: 100%;
    margin-top: 0;
  }

  #page2 #middle {
    display: flex;
    justify-content: space-between;
  }
  #page2 #middle #left {
    width: 55%;
    height: 70%;
  }
  #page2 #middle #right {
    height: 20%;
    width: 40%;
  }
  #page2 #middle #left #top {
    height: 60%;
  }
  #page2 #middle #right #top {
    width: 100%;
    height: 100%;
  }
  #page2 #middle #right #bottom #left {
    font-size: 1.9vw;
  }
  #page2 #middle #right #bottom #right {
    font-size: 1.8vw;
    font-weight: 600;
  }
  #page3 {
    margin-top: -53vh;
  }
  #page3 #middle {
    height: 70%;
  }
  #page3 #middle #left {
    height: 100%;
    width: 40%;
    /* background-color: aqua; */
    position: relative;
  }
  #page3 #middle #left #top {
    background-size: 100%;
  }

  #page3 #middle #left #bottom {
    font-size: 1.7vw;
  }
  #page3 #middle #right {
    background-position: 50% 10%;
  }
  #page4 {
    margin-top: -32vh;
  }
  #page4 #middle {
    height: 30%;
  }
  #page5 {
    margin-top: -60vh;
  }
  #page5 > h1 {
    font-size: 4vw;
    margin-bottom: 5vh;
  }
  .elem {
    height: 10vh;
  }
  .elem img {
    width: 17vw;
    height: 9vh;
  }
  .elem h5 {
    font-size: 2vw;
  }

  .elem .elem-right h2 {
    font-size: 4.1vw;
    line-height: 4.5vw;
  }
  .elem .elem-right p {
    font-size: 1.3vw;
  }
  #exclusive h2 {
    font-size: 4.1vw;
    line-height: 4.5vw;
  }
  #exclusive p {
    font-size: 1.3vw;
  }
  #page6 {
    height: 50vh;
    margin-bottom: -13vh;
    margin-top: -42vh;
  }
  #page6 #middle {
    height: 65%;
  }

  #page6 #middle #right #left #top h4 {
    font-size: 2vw;
    line-height: 1.7vh;
  }
  #page6 #middle #right #right #top h4 {
    font-size: 2vw;
    line-height: 1.5vh;
  }
  #marque {
    padding: 2vw;
  }
  #marque h1 {
    font-size: 6vw;
    margin-right: 20px;
  }
  @keyframes animation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 23px));
    }
  }
  footer {
    height: 30%;
  }
  footer h1 {
    font-size: 6vw;
    margin-left: 1.2vw;
  }
  footer h5 {
    font-size: 2.5vw;
  }
  footer h5:nth-child(2) {
    padding-top: 4.5vh;
  }
  footer h5:nth-child(3) {
    padding-top: 4.5vh;
  }
  footer h5:nth-child(4) {
    padding-top: 4.5vh;
  }

  footer #footer #middle #top p {
    font-size: 4vw;
  }
  footer #footer #middle #bottom h4 {
    font-size: 2.4vw;
  }
}
